.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.red {
 background-color: #b22234;
}

.white {
 background-color: #f8f9fa;
}

.blue {
 background-color: #00075e;
}