<div class="container px-0">
 <div>
  <%= image_tag "logo.png", alt: "Logo", class: "center" %>
 </div>

 <div class="mt-5">
  <h1 class="text-center bold-text text-uppercase masthead-heading">Harmony Club of Worcester</h1>
 </div>

 <div class="row">
  <div class="col"><%= image_tag "boogaloo.gif", alt: "American Flag", class: "img-fluid" %></div>
  <div class="col"><%= image_tag "fries.gif", alt: "French Flag", class: "img-fluid ms-5 w-75" %></div>
  <div class="col"><%= image_tag "can.gif", alt: "Canadian Flag", class: "img-fluid" %></div>
 </div>

 <hr>

 <div class="text-center pb-5">
  <p class="fs-6 fw-bold">The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925. The Club holds monthly meetings at O'Connor's Restaurant in Worcester with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult and children's Christmas parties. Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</p>
  <p class="fs-6 fw-bold">Our major fund raiser is our "Bob Picard Memorial Golf Tournament" that is held at the Leicester Country Club in Leicester, MA every September. The proceeds from this tournament are the sole funding of the scholarship and civic awards.</p>
 </div>
</div>