<div class="mt-5">
 <%= image_tag "logo.png", alt: "Logo", class: "center" %>
<div>

<div class="mt-5">
 <h1 class="text-center">HARMONY CLUB OF WORCESTER</h1>
</div>

<div>
 <%= image_tag "boogaloo.gif", alt: "American Flag", class: "w-25 pe-5" %>
 <%= image_tag "fries.gif", alt: "French Flag", class: "w-25 ps-5 pe-5" %>
 <%= image_tag "can.gif", alt: "Canadian Flag", class: "w-25 ps-5" %>
</div>