<div id="<%= dom_id sponsor %>">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= sponsor.title %></th>
      <td><%=sponsor.website %></td>
    </tr>
  </tbody>
</table>

</div>