<p style="color: green"><%= notice %></p>

<%= render @photo %>

<div>
<%= button_to "Destroy", @event, method: :delete, class: "btn btn-danger"%>
<%= link_to "Back", photos_path, class: "btn btn-primary"%>
</div>
